.notFoundPageContainer {
    padding-top: 5rem;
}


.notFoundPageContainer h1 {
    font-family: 'PhageRegular',
    sans-serif;
    font-size: 7rem;
    text-align: left;
    letter-spacing: .5rem;
    color: var(--color4);
    color: transparent;
    -webkit-text-stroke-width: .1rem;
    -webkit-text-stroke-color: var(--netflix);
    text-align: center;
}

.notFoundPageContainer span {
    color: var(--netflix);
    padding-left: 2rem;
    font-family: 'PhageRegular',
    sans-serif;
    cursor: pointer;
}

.content {
    padding-bottom: 5rem;
}

.lines, 
.lines2 {
    background-color: var(--color1);
    height: 7rem;
    width: 100%;
    background: repeating-linear-gradient(45deg,
            var(--color4),
            var(--color4) 15px,
            var(--color1) 15px,
            var(--color1) 20px,
            transparent 40px);
}

.lines2 {
    background: repeating-linear-gradient(-45deg,
        var(--color4),
        var(--color4) 15px,
        var(--color1) 15px,
        var(--color1) 20px,
        transparent 40px);
}

@media screen and (max-width: 480px) {
    .notFoundPageContainer h1 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 320px) {
    .notFoundPageContainer h1 {
        font-size: 4.5rem;
    }
}