.disneyContainer {
    padding-top: 20rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.text {
    border-bottom: solid 5px var(--disney);
    margin-bottom: 5rem;
    width: fit-content;
    margin-top: -1.5rem;
}

.text h1 {
    font-family: 'PhageRegular', sans-serif;
    font-size: 7rem;
    text-align: right;
    letter-spacing: .5rem;
    color: var(--color4);
    position: relative;
    padding-bottom: 1rem;
    line-height: 1.2;
}

.tel {
    font-family: 'PhageRegular',
        sans-serif;
    color: transparent;
    -webkit-text-stroke-width: .1rem;
    -webkit-text-stroke-color: var(--disney);
}

.arrowContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

.arrow {
    font-size: 25rem;
}

@media screen and (max-width: 480px) {
    .heroContainer h1 {
        font-size: 4rem;
        line-height: 1.2;
    }
}

.box1 {
    color: var(--disney);
}

.box1:hover {
    color: var(--color1);
}

.elementDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 2px solid var(--disney);
    cursor: pointer;
    transition: all 0.1s ease;
}


.elementDetails:hover {
    transform: scale(2.5, 2.5);
    z-index: 1;
    background-color: var(--disney);
    border: 2px solid var(--color1);
    transition: all 0.1s ease;
}

.elementSymbol {
    font-size: 2.5rem;
}

.elementname {
    font-size: 7px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .text h1 {
        font-size: 4rem;
        line-height: 1.2;
        text-align: center;
    }
    
    .tel {
        -webkit-text-stroke-width: 1px;
    }

    .elementDetails:hover {
        transform: scale(.5, .5);
    }
}

@media screen and (max-width: 768px) {
    
    .content {
        align-items: center;
        justify-content: center;
    }

    
}

@media screen and (max-width: 981px) {
    .disneyContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    

    .text h1 {
        text-align: center;
    }

    .arrowContainer {
        transform: rotate(45deg);
        position: relative;
        left: 5px
    }
}