:root {
  --color1: #323232;
  --color2: #295F4E;
  --color3: #6DB193;
  --color4: #F4E5C2;
  --hulu: #49FF00;
  --amazon: #FFB400;
  --netflix: #E02401;
  --hbo: #AA14F0;
}

@font-face {
  font-family: "Angled";
  src: url("/fonts/Angled.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Questrial&display=swap');

/* Typography Scale */

html {
  font-size: 62.5%;
  background-color: var(--color1);
  color: var(--color3)

}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/* h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2.5rem;
} */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  /* transition: all 0.3s ease-in-out; */
  -webkit-tap-highlight-color: transparent;
}

::before,
::after {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

::selection {
  color: var(--color3);
  background-color: var(--color2);
}