.row4Container {
    padding: 2rem 16rem 5rem 16rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;  
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.box1 {
    cursor: pointer;
    color: var(--hbo);
}



.box1:hover {
    transform: scale(2.5, 2.5);
    z-index: 1;
}

.elementDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 2px solid var(--hbo);
}

.elementDetails:hover {
    background-color: var(--hbo);
    color: var(--color1);
    border: 2px solid var(--color1);
}

.elementSymbol {
    font-size: 2.5rem;
}

.elementname {
    font-size: 7px;
    text-align: center;
}

@media screen and (max-width: 868px) {
    .row4Container {
        padding: 1rem 0;
    }

    .left {
        justify-content: flex-start;
        gap: 1rem;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .left {
        align-items: center;
        justify-content: center;
    }
}