.heroContainer {
    padding-top: 5rem;
}

.heroContainer h1 {
   font-family: 'PhageRegular', sans-serif;
   font-size: 7rem;
   text-align: center;
   letter-spacing: .5rem;
   color: var(--color4);
   position: relative;
   padding-bottom: 1rem;
   line-height: 1.2;
}

.tel {
    font-family: 'PhageRegular',
    sans-serif;
    color: transparent;
    -webkit-text-stroke-width: .01px;
    -webkit-text-stroke-color: var(--color4);
}

.arrow {
    position: absolute;
    margin-top: 5%;
    right: 0;
    width: 12rem;
    height: 12rem;
    background: url('/public/images/arrow.svg') no-repeat;
    background-size: cover;
}

@media screen and (max-width: 480px) {
    .heroContainer h1 {
        font-size: 4rem;
        line-height: 1.2;
    }
}