.heroContainer {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heroContainer h1 {
   font-family: 'PhageRegular', sans-serif;
   font-size: 7rem;
   text-align: center;
   letter-spacing: .5rem;
   color: var(--color4);
   position: relative;
   padding-bottom: 1rem;
   line-height: 1.2;

}

.tel {
    font-family: 'PhageRegular',
    sans-serif;
    color: transparent;
    -webkit-text-stroke-width: .01px;
    -webkit-text-stroke-color: var(--color4);
}

.underline {
    border-bottom: solid 5px var(--color4);
    width: fit-content;
    font-family: 'PhageRegular',
    sans-serif;
    padding-bottom: 1.5rem;
}

.keyContainer {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    gap: 4.5rem;
}

.keyContainer h4 {
    cursor: pointer;
    padding: 2rem 1rem .5rem 1rem;
    transition: all 0.1s ease-in;
}

.keyContainer h4:hover:not(:nth-child(1)) {
    transform: scale(2.75, 2.75);
    transition: all 0.1s ease-in;
}

.keyContainer h4:nth-child(2) {
    color: var(--amazon);
}

.keyContainer h4:nth-child(3) {
    color: var(--hulu);
}

.keyContainer h4:nth-child(4) {
    color: var(--netflix);
}
.keyContainer h4:nth-child(5) {
    color: var(--hbo);
    white-space:nowrap
}

@media screen and (max-width: 480px) {
    .heroContainer h1 {
        font-size: 4rem;
        line-height: 1.2;
    }
    .keyContainer {
        gap: .01rem;
    }

    .keyContainer h4:hover {
        transform: scale(1.8, 1.8);
        transition: all 0.1s ease-in;
    }

    .tel {
        -webkit-text-stroke-width: 1px;
    }
}