.primeContainer {
    cursor: pointer;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}


.box1,
.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-right: 1rem;
    flex-wrap: wrap;
}


.box1 {
    margin-right: 1rem;
    /* margin-bottom: 1rem; */
}

.box2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: .1rem;
}

.elementDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 2px solid var(--amazon);
    color: var(--amazon);
    transition: all 0.1s ease;
}

.elementDetails:hover {
    transform: scale(2.5, 2.5);
    z-index: 1;
    background-color: var(--amazon);
    color: var(--color1);
    border-color: var(--color1);
    transition: all 0.1s ease;
}


.elementSymbol {
    font-size: 2.5rem;
    text-transform: capitalize;
}

.elementname {
    font-size: 7px;
    text-align: center;
}

@media screen and (max-width: 670px) {
    .content {
        justify-content: center;
        align-items: center;
    }

    .box2 {
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 645px) {
    .box1 {
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 670px) {
    .box1 {
        padding-right: .3rem;
    }
}

@media screen and (max-width: 480px) {
    .elementDetails:hover {
        transform: scale(.5, .5);
    }
}
