/* .row3Container {
    padding-top: 1rem;
} */

.content {
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.box1,
.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.box1 {
    padding-right: 1rem;
}


.box2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-right: .3rem;
}

.elementDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid var(--color2);
}

.elementSymbol {
    font-size: 2.5rem;
}

.elementname {
    font-size: 1rem;
}

@media screen and (max-width: 685px) {
    .box2 .elementDetails {
        padding-top: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .content {
        align-items: center;
        justify-content: center;
    }

    .box1 {
        padding-right: 0rem;
    }

    .box2 {
        align-items: center;
        justify-content: center;
    }
}