.row4Container {
    padding-top: 1rem;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}


.elementDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid var(--color2);
}

.elementSymbol {
    font-size: 2.5rem;
}

.elementname {
    font-size: 1rem;
}


@media screen and (max-width: 768px) {
    .content {
        align-items: center;
        justify-content:center;
    }
}