.row4Container {
    padding: 1rem 16rem 5rem 16rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;  
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: var(--color4);
}

.box1 {
    background-color: var(--color4);
    cursor: pointer;
}

.box1:hover {
    transform: scale(2.4, 2.4);
    z-index: 1;
}

.elementDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 2px solid var(--color2);
}

.elementSymbol {
    font-size: 2.5rem;
}

.elementname {
    font-size: 1rem;
}

@media screen and (max-width: 868px) {
    .row4Container {
        padding: 1rem 0;
    }

    .left {
        justify-content: flex-start;
        gap: 1rem;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .left {
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .box1:hover {
        transform: scale(2, 2);
        z-index: 1;
    }
}